
    /* RESET */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body {
      background: #F5EBDD;
    }

    /* ===== TOP NAV ===== */
    .top-nav {
      background: #B89C65;
      padding: 20px 60px;
    }

    .top-nav ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
    }

    .top-nav ul li a {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
    }

    .top-nav ul li a:hover {
      color: #000;
    }

    /* ===== HEADER ===== */
    .header {
      background: #F5EBDD;
      padding: 20px 60px;
      display: flex;
      align-items: center;
      gap: 40px;
    }

    .logo h1 {
      font-size: 32px;
      font-weight: 700;
    }

    .logo h1 span {
      color: #B89C65;
    }

    .logo p {
      font-size: 14px;
      color: white;
    }

    .search-box {
      flex: 1;
      position: relative;
    }

    .search-box input {
      width: 100%;
      padding: 18px 60px 18px 25px;
      border: none;
      border-radius: 50px;
      font-size: 16px;
      outline: none;
    }

    .search-box i {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
    }

    .header-icons {
      display: flex;
      align-items: center;
      gap: 25px;
    }

    .header-icons i {
      font-size: 22px;
      color: #B89C65;
      cursor: pointer;
    }

    .profile img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      object-fit: cover;
    }

    /* ===== MAIN CONTAINER ===== */
    .container {
      max-width: 1800px;
      margin: 0 auto;
      background: #FBFAFA;
      border-radius: 6px;
      overflow: hidden;
    }

    /* ===== TOP SECTION ===== */
    .top {
      display: grid;
      grid-template-columns: 1.2fr 1fr;
    }

    .top img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }

    .top-content {
      padding: 25px;
      position: relative;
    }

    .heart {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #B89C65;
      font-size: 20px;
      cursor: pointer;
    }

    .top-content h2 {
      font-size: 26px;
      margin-bottom: 6px;
    }

    .top-content p {
      font-size: 20px;
      color: black;
      margin-bottom: 6px;
    }

    .hr {
      height: 1px;
      background: #ddd;
      margin: 15px 0;
    }

    .rating {
      color: gold;
      font-size: 23px;
    }

    /* ===== TABS ===== */
    .tabs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }

    .tab {
      text-align: center;
      padding: 12px;
      font-size: 26px;
      font-weight: 500;
      cursor: pointer;
    }

    .tab.active {
      border-bottom: 3px solid #B89C65;
      color: #000;
    }

    /* ===== CONTENT ===== */
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      padding: 30px;
    }

    /* LEFT */
    .section h3 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .info {
      font-size: 20px;
      margin-bottom: 20px;
      color: black;
      line-height: 2.5;
    }

    .info span {
      display: block;
      margin-top: 6px;
    }

    /* RIGHT */
    .right h4 {
      left: 40px;
      font-size: 20px;
      margin-bottom: 6px;
    }

    .right p {
      font-size: 20px;
      color: #444;
      line-height: 3.5;
    }

    .map {
      width: 60%;
      height: 80px;
      border-radius: 6px;
      border: none;
      margin-top: 0;
    }

    /* BUTTON */
    .btn {
      background: #B89C65;
      color: #fff;
      border: none;
      padding: 22px 28px;
      border-radius: 6px;
      font-size: 20px;
      cursor: pointer;
      width: 85%;

    }

    /* ===== FOOTER ===== */
    .footer {
      background: #B89C65;
      color: #fff;
    }

    .footer-top {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 30px 60px;
      gap: 40px;
    }

    .footer-col h3 {
      font-size: 22px;
      margin-bottom: 20px;
    }

    .footer-col p {
      font-size: 18px;
      margin-bottom: 12px;
      cursor: pointer;
    }

    .footer hr {
      border: none;
      height: 2px;
      background: #fff;
      margin: 0 60px;
    }

    .footer-middle {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 30px 60px;
      gap: 20px;
    }

    .footer-middle p {
      font-size: 18px;
    }

    .footer-bottom {
      background: #2f2f2f;
      padding: 15px 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .footer-bottom .copyright {
      font-size: 20px;
    }

    .footer-contact p {
      font-size: 18px;
      margin-bottom: 8px;
    }

    .footer-contact i {
      margin-right: 10px;
    }

    .social-icons {
      background: #2f2f2f;
      text-align: center;
      padding: 20px 0;
    }

    .social-icons i {
      font-size: 22px;
      margin: 0 12px;
      color: #fff;
      padding: 10px;
      border-radius: 50%;
      cursor: pointer;
    }

    .social-icons i:nth-child(1) {
      background: #4267B2;
    }

    .social-icons i:nth-child(2) {
      background: #1DA1F2;
    }

    .social-icons i:nth-child(3) {
      background: #E1306c;
    }
 
    @media (max-width: 768px) {

  /* TOP NAV */
  .top-nav {
    padding: 15px 20px;
  }

  .top-nav ul {
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }

  /* HEADER */
  .header {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .logo h1 {
    font-size: 26px;
    text-align: center;
  }

  .search-box input {
    padding: 14px 50px 14px 20px;
  }

  .header-icons {
    justify-content: center;
  }

  /* CONTAINER */
  .container {
    margin: 10px;
  }

  /* TOP SECTION */
  .top {
    grid-template-columns: 1fr;
  }

  .top img {
    height: 220px;
  }

  .top-content h2 {
    font-size: 22px;
  }

  .top-content p {
    font-size: 16px;
  }

  /* TABS */
  .tab {
    font-size: 18px;
    padding: 10px;
  }

  /* CONTENT */
  .content {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .info,
  .right p {
    font-size: 16px;
    line-height: 2.2;
  }

  .map {
    width: 100%;
  }

  /* BUTTON */
  .btn {
    width: 100%;
    padding: 16px;
    font-size: 18px;
  }

  /* FOOTER */
  .footer-top {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-middle {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .footer-bottom .copyright {
    font-size: 16px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {

  /* HEADER */
  .header {
    padding: 20px 30px;
    gap: 30px;
  }

  .logo h1 {
    font-size: 28px;
  }

  /* TOP SECTION */
  .top {
    grid-template-columns: 1fr;
  }

  .top img {
    height: 260px;
  }

  /* CONTENT */
  .content {
    grid-template-columns: 1fr;
    padding: 30px;
  }

  .info,
  .right p {
    font-size: 18px;
  }

  .map {
    width: 80%;
  }

  /* FOOTER */
  .footer-top {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-middle {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-bottom {
    flex-wrap: wrap;
  }
}
